@charset "utf-8";
/*mytips*/
.ui-mask{background-color:#000;opacity:0.5;filter:alpha(opacity=50);width:100%;height:100%;position:fixed;_position:absolute;left:0;top:0;z-index:9999998;display:none;}
.change_success,.change_error,.change_loading{
	display:block;
	height:50px;
	line-height:50px;
	background:#fff;
	border:5px solid #e6e6e6;
	font-size:14px;
	border-radius:5px;
	font-weight:400;
	padding:0 15px;
	position: absolute;
	_position: absolute;
	left:0;
	top:0;
	z-index:9999999;
}
.change_success{color:#000;}
.change_error{color:#333;}
.change_success a,.change_error a,.change_loading a{font-size:14px;color:#F85E90;}
.change_success i{
	float:left;
	display:block;
	width:30px;
	height:31px;
	margin-top:6px;
	margin-right:10px;
	background:url("../img/new_ico.png") no-repeat 0 1px;
}
.change_success .send_close, .change_error .send_close, .change_loading .send_close{
	position:absolute;
	width:34px;
	height:34px;
	background:url("../img/send_close.gif") no-repeat;
	right:-10px;
	top:-15px;
	cursor: pointer;
}
.change_error i{
	float:left;
	display:block;
	width:30px;
	height:31px;
	margin-top:6px;
	margin-right:10px;
	background:url("../img/new_ico.png") no-repeat -30px 1px;
}
.change_loading i{
	float:left;
	display:block;
	width:30px;
	height:31px;
	margin-top:6px;
	margin-right:10px;
	background:url("../img/loading.gif") no-repeat;
}
